!!!
%html
  %head
    = partial("layouts/html_header")
  %body#top
    = partial("layouts/navbar")
    #container-main-sidebar.container
      #main-content.row
        .col-xs-12.col-sm-12.col-md-4
          = partial("layouts/sidebar")
        .col-xs-12.col-sm-12.col-md-8
          #main
            = yield
    = partial("layouts/footer")
